@model ClearChoice.Model.Pessoa

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <h3 class="tile-title">Detalhes</h3>
            <div class="tile-body">
                <form>
                    <div class="form-group">
                        
                        <label class="control-label">Email</label>
                        <input class="form-control" id="Email" name="Email" type="text" value='@Model.Email'>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





