
@{
    ViewBag.Title = "ErroExperiencia";
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
}

<main class="app-content">
    <div class="page-error tile">
        <h1><i class="fa fa-exclamation-circle"></i> Você está no processo de experiência</h1>
        <p>Por favor, vá até o ponto final para que seja finalizada a sua experiência.</p>
        
    </div>
</main>
